/************ General Page Elements */
.row-wrapper {
  @include row();

  .inner {
    @include outer-container(1100px);
  }
}

/************ Header */
header {
  @include span-columns(12);
  display: table-cell;
  height: 80px;
  padding: 20px 0;

  #logo {
    @include span-columns(1);
    // @include shift(1);
    display: block;
    vertical-align: left;
  }

  #search {
    @include span-columns(3);
    display: block;
    margin: 0;
  }

  .btn.search{
    @include span-columns(1);
  }

  .browse {
    @include span-columns(1);
    display: block;
  }

  .nav {
    @include span-columns(6);
    display: block;
    float: right;
  }
}

/************ Main */
.main-wrapper {
  overflow: auto;
}

/************ Sidebar */
aside {
  @include span-columns(3) ;
  padding: 10px;
}

/************ Items */
.content {
  @include span-columns(9) ;
  @include omega();
}
.item{
    @include span-columns(3 of 9);
    display: inline-block;
    margin: 20px 14px 0 0;
  }

/************ Subscribe */
.subscribe {
  @include span-columns(12);
}
/************ Links */

.links {
  @include span-columns(12);
}

.sell, .join, .shopping, .know, .follow, {
  @include span-columns(2.2 of 12);
  @include shift(1);
}


/************ Footer */
footer {
  @include span-columns(12) ;
  height: 72px;
  padding: 10px;

  .help {
    @include span-columns(4 of 12);
    @include shift(4);
  }

  .footer.links {
    @include span-columns(4 of 12);
    @include shift (4);
  }
}
