/***** 3rd Party Components *****/
@import "lib/normalize-css/normalize";
@import "lib/bourbon/bourbon";
@import "lib/neat/neat-helpers";
@import "base/grid-settings";
// @import "lib/bitters/variables";

// // Bitters Variable Overrides
// $base-font-family: "Arial", $sans-serif;
//
// @import "lib/bitters/extends/base";
// @import "lib/bitters/mixins/base";
// @import "lib/bitters/typography";
// //@import "lib/bitters/forms";
// @import "lib/bitters/tables";
// @import "lib/bitters/lists";
// @import "lib/bitters/flashes";


@import "lib/neat/neat";
@import "base/base";

/***** Custom Mixins *****/
@import "base/mixins";

/***** Custom Layout Styles *****/
@import "layout";


/***** Global Variables *****/
$mainBkgnd: #F5F5F1;
// $fontSize: 12px;

/************ General Page Elements */
.row-wrapper {
  @include row();
  background: $mainBkgnd;

  .outer-container {
    @include outer-container;
  }
}

nav {
  display: inline-block;

li {
  list-style: none;
  display: inline-block;
  float: left;
}
}

.item {
  border: 1px solid #000;

h3 {
    font: .8em;
}
img {
  width: 225px;
  height: 172px;
}
}

aside{
}
.sidebar{
  .show{
    font-size: 13px;
    color: #555555;
    margin: 0;
    padding-bottom: 9px;
    font-weight: bold;
  }
  .categories{
    background-color: white;
    border: 1px solid #E1E3DF;
    border-radius: 3px;
    border-bottom-color: #CBCCC9;
    margin: 0 0 24px;
    padding: 12px;

    h5{
      margin: 0;
      padding-bottom: 4px;
    }
    h5 a{
      font-size: 13px;
      font-weight: bold;
      color: #555555;
      margin: 0;
      &:hover{
        text-decoration: underline;
      }
    }
    ul a{
      font-size: 13px;
      color: #0292B5;
      padding: 0 0 6px 12px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  h5{
    font-size: 13px;
    color: #555555;
    margin: 0;
    padding-bottom: 9px;
    font-weight: bold;
  }
  .panal{
    background-color: white;
    border: 1px solid #E1E3DF;
    border-radius: 3px;
    border-bottom-color: #CBCCC9;
    margin: 0 0 24px;
    padding: 12px;
    .item-type{
      .srchBts{
        input{
          margin: 0;
        }
        a{
          font-size: 13px;
          color: #0292B5;
          padding: 0 ;
          font-weight: normal;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
