/***** 3rd Party Components *****/
@import "lib/normalize-css/normalize";
@import "lib/bourbon/bourbon";
@import "lib/neat/neat-helpers";
@import "base/grid-settings";
// // @import "lib/bitters/_variables";
//
// // Bitters Variable Overrides
// $base-font-family: "Arial", $sans-serif;
//
// @import "lib/bitters/extends/base";
// @import "lib/bitters/mixins/base";
// @import "lib/bitters/typography";
// //@import "lib/bitters/forms";
// @import "lib/bitters/tables";
// @import "lib/bitters/lists";
// @import "lib/bitters/flashes";


@import "lib/neat/neat";
@import "base/base";

/***** Custom Mixins *****/
@import "base/mixins";

/***** Custom Layout Styles *****/
@import "layout";


/***** Global Variables *****/
$mainBkgnd: #F5F5F1;
$fontSize: 12px;

/************ General Page Elements */
* {
  font-family: 'Arial', sans-serif;
}

.row-wrapper {
  @include row();
  background: $mainBkgnd;

  .outer-container {
    @include outer-container;
  }
}
header {
  background: #fff;

  #search {
    font-size: .9em;
    border: 1px solid #CFCBC8;
    background: #f9f9f8;
    padding: 6px 10px;
    height: 34px;
    font-size: 14px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn.search {
    height: 34px;
    margin-top: 0;
    margin-bottom: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.45em .7em;
    font-size: 14px;
    background: #34A8C4;
  }

  .browse {
    border: 1px solid #E5E5E5;
    height: auto;
    white-space: nowrap;
    padding: 8px;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    width: auto;
    text-decoration: none;
  }
  .nav {
    height: auto;
    ul{
      float: right;
      overflow: auto;
    }
    li {
      list-style: none;
      display: inline-block;
      float: left;
      margin: 0 19px 0 0;

      .register{
        color: #0192B5;
        text-decoration: none;
        font-size: .9em;
      }
      .register:hover {
        text-decoration: underline;
      }
      .sign-up {
        height: auto;
        display: block;
        float: left;
        padding: 8px;
        line-height: 16px;
        font-size: 14px;
        border: 1px solid;
        text-decoration: none;
        border-radius: 3px;
        box-sizing: border-box;
        color: #0192B5;
        font-size: .9em;
      }
      .sign-up:hover {
        background: #F0FBFD;
      }
    }

    li:last-child {
      height: auto;

      span {
        display: block;
      }
      a {
        text-decoration: none;
        color: #666666;
        font-size: .9em;
      }
      a:hover {
        color: #000;
      }
    }
  }
}


.sidebar{
  .show{
    font-size: 13px;
    color: #555555;
    margin: 0;
    padding-bottom: 9px;
    font-weight: bold;
  }
  .categories{
    background-color: white;
    border: 1px solid #E1E3DF;
    border-radius: 3px;
    border-bottom-color: #CBCCC9;
    margin: 0 0 24px;
    padding: 12px;

    h5{
      margin: 0;
      padding-bottom: 4px;
    }
    h5 a{
      font-size: 13px;
      font-weight: bold;
      color: #555555;
      margin: 0;
      &:hover{
        text-decoration: underline;
      }
    }
    ul a{
      font-size: 13px;
      color: #0292B5;
      padding: 0 0 6px 12px;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  h5{
    font-size: 13px;
    color: #555555;
    margin: 0;
    padding-bottom: 9px;
    font-weight: bold;
  }
  .panal{
    background-color: white;
    border: 1px solid #E1E3DF;
    border-radius: 3px;
    border-bottom-color: #CBCCC9;
    margin: 0 0 24px;
    padding: 12px;
    .item-type{
      border-bottom: 1px solid #E1E3DF;
      padding-bottom: 18px;
      margin-bottom: 18px;
      a{
        font-size: 13px;
        color: #0292B5;
        padding: 0 ;
        font-weight: normal;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .price{
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #E1E3DF;
      div{
        display: inline-block;
        input{
          width: 75px;
          height: 37px;
          display: inline-block;
        }
        p{
          font-size: 14px;
        }
      }
      #submit{
        position: relative;
        background: transparent;
        border: 1px solid #E1E3DF;
        width: 35px;
        height: 35px;
      }
    }

    .type{
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #E1E3DF;
      .color{
        div  {
          border: 1px solid #e2e2e2;
          border-radius: 3px;
          height: 22px;
          width: 22px;
        }
        li {
          display: inline-block;
        }
        #red{
          background-color: #f40b32;
        }
        #orange{
          background-color: #ff7f00;
        }


        #yellow{
          background-color: #f3cc0c;
        }
        #green{
          background-color: #0ac20a;
        }

        #blue{
          background-color: #0cccf3;
        }

        #purple{
          background-color: #a60cf3;
        }

        #black{
          background-color: #000;
        }
      }
    }
    .ordering{
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #E1E3DF;
      a{
        font-size: 13px;
        color: #0292b5;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .location{
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #E1E3DF;
      a{
        font-size: 13px;
        color: #0292b5;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .ship{
      select{
        width: 100%;
        font-size: 14px;
        background: transparent;
        line-height: 1;
        border: 1px solid #E1E3DF;
        border-radius: 3px;
        height: 34px;
        -webkit-appearance: none;
        padding:10px;
      }
    }
  }
}

.options {
  margin: 0;
  padding: 10px 0 0 0;
}
p.number {
  font-size: .8em;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  a {
    text-decoration: none;
    color: #0192B5;
  }
  a:hover {
    text-decoration: underline;
  }
  span {
    font-weight: bold;
  }
}
p.sort-by {
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: .8em;
  padding: 0 17px 0 0;

  a {
    text-decoration: none;
    color: #0192B5;
  }
}



.content {
  padding: 9px 0 0px 0;
  overflow: auto;
}

.item {
  padding-bottom: 9px;
  margin: 0px 15px 9px 0;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  img {
    width: 256px;
    height: 172px;
  }

  h3 {
    font-size: .8em;
    margin: 0;
    font-weight: normal;
    display: inline;
    padding: 0 0 0 5px;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  h4 {
    font-size: .8em;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 5px;
    float: left;

    a {
      color: #b2b2b2;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 0.8em;
    float: right;
    color: #78c042;
    margin: 0;
    position: relative;
    display: block;
    font-weight: bold;
    padding: 0 5px 0 0;
  }
}

.related {

  h5 {
    font-size: .8em;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  span {
    font-size: .8em;
  }
  a {
    text-decoration: none;
    color: #0192B5;
    font-weight: bold;
    font-size: .8em;
  }
  a:hover {
    text-decoration: underline;
  }
}

.looking {
  padding: 10px 0;

  span {
    font-size: .8em;
  }
  a {
    text-decoration: none;
    color: #0192B5;
    font-weight: bold;
    font-size: .8em;
  }
  a:hover {
    text-decoration: underline;
  }
}

.pagination {
  padding: 5px 0 25px 0;
  .btn-icon {
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    white-space: nowrap;
    background: #fff;
  }
  .selected {
    background-color: #E1E3DF;
    border-color: rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
  .disabled {
    background-color: #F5F5F1;
    border-color: rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
  .btn-icon:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0;
    background-color: #F5F5F1;
    border-color: rgba(0, 0, 0, 0.15);
    color: #AAA;
  }
  .btn-icon:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    background-color: #F5F5F1;

  }
}

.subscribe {
  padding: 20px 0;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
  text-align: center;
  display: inline;
  width: 100%;
  p {
    font-size: .8em;
    margin: 0;
    padding-bottom: 10px;
  }

  input {
    display:inline;
    background: #fbfbfa;
    border: 1px solid #CFCBC8;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
    height: 38px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
  }
  .btn, .sub {
    border-radius: 3px;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    background-color: #34A8C4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 0 10px;
  }
}

.links nav{
  margin: 50px 50px 0;
  display: inline-block;
  width: 90%;
  padding: 5px 30px;
}
.links{
  font-size: 13px;
  color: #333333;

  h4{
    font-weight: 200;
    margin-bottom: 5px;
  }
  button{
    width: 100px;
    padding: 0;
    height: 25px;
    font-weight: bold;
    background-color: #66B7D0;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  }
  a{
    color: #0292b5;
    line-height: 25px;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

footer{
  margin-top: 5px;
  display: inline-block;
  border-top: 1px solid #E1E3DF;
  padding: 22px 0 28px 0;
  .help{
    margin-bottom: 15px;
    li{
      display: inline-block;
      text-align: center;
      border: 1px solid #E1E3DF;
      border-radius: 3px;
      margin: 0 -3px;
      padding: 5px 10px;
    }
    a{
      font-size: 13px;
      color: #555555;
      &:hover{
        color:#0292b5;
      }
    }
    a:nth-child(4){
      border: 1px solid #E1E3DF;
      border-radius: 3px;
      padding: 8px 45px;
      font-size: 16px;
      font-weight: bold;
      margin-left: 25px;
    }
  }
}
.footer-links{
  font-size: 12px;
  li{
    display: inline-block;
    position: relative;
    padding-right: 10px;
    color: #989898;
  }
  li:first-child {
    font-weight: bold;
  }
  a {
    color: #555555;
    &:hover{
      text-decoration: underline;
    }
  }
}
